<h3>Tabla de amortización</h3>
<hr>
<div class="table-responsive">
  <table id="amortization_table_js" class="table table-striped">
  <thead>
  <tr>
    <th>Periodo</th>
    <th>Pago</th>
    <th>Capital</th>
    <th>Interes</th>
    <th>Saldo</th>
  </tr>
  </thead>
  <tbody>

  </tbody>
  </table>
</div>

<table id="amortization_table_to_export" class="hidden">
<thead>
<tr>
  <th>Periodo</th>
  <th>Pago</th>
  <th>Capital</th>
  <th>Interes</th>
  <th>Saldo</th>
</tr>
</thead>
<tbody>

</tbody>
</table>
